
.header {
  display: flex;
  flex-direction: column;
  a {
    padding: 1.5rem;
  }
}

.subheader {
  background-color: #59d4af;
  color: white;
  flex-grow: 1;
  min-height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    padding: 1.5rem;
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
}

.nav {
  height: 5rem;
  border-bottom: 1px solid #f1f3f5;
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}

.navItemActive {
  font-weight: bold;
}

@media (min-width: 768px) {
  .subheader {
    min-height: 22vh;
  }
}
