.header {
  h1 {
    margin-bottom: 0; 
  }
  &.info_page {
    nav {
      border-color: #fff;
    }
  }
}

.nav {
  padding: 1.5rem;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  img {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .header {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .nav {
    padding: 2rem;
    width: 35vw;
    height: 100%;
    border-right: 1px solid #EBEBEB;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    img {
      margin-bottom: 0;
    }
  }
}
