.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  min-width: 320px;
  max-width: 768px;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
  
 
}
