.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.info_page {
    color: #fff;
  }
}

.content {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
}
