.info_blurb {
  max-width: 800px;
  padding: 1.5rem 1.25rem;
  p {
    color: #EBEBEB;
  }
  h2 div {
    margin-bottom: 18px;
  }
}

@media (min-width: 768px) {
  .info_blurb {
    padding: 2rem;
  }
}

@media(min-width: 1440px) {
  .info_blurb {
    padding: 3rem;
  }
}