body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: line-through;
  text-decoration-color: inherit;
}
ul {
  list-style: none;
  margin: 0;
}

//TYPOGRAPHY-------------------------------------

h1, h2 {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.3;
}

p {
  font-size: 1.075rem;
}