body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .15s ease;
}

a:hover {
  color: #59d4af;
  transition: color .15s ease;
}