body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color .15s ease;
  transition: color .15s ease;
}

a:hover {
  color: #59d4af;
  -webkit-transition: color .15s ease;
  transition: color .15s ease;
}

//TYPOGRAPHY-------------------------------------

h1, h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

p {
  font-size: 1.075rem;
}