.blog {
  h1 {
    margin-bottom: .7rem;
  }
}

.blog__hero {
  width: 100%;
  margin: 0;
  img {
    margin-bottom: 0;
    object-fit: cover;
  }
}

.blog__info {
  padding: 1.5rem 1.25rem;
  width: 100%;
  h2 {
    margin-bottom: .66rem;
  }
  h3 {
    margin-bottom: 0;
  }
}

.blog__body {
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span{
    width: 70%;
    margin: 2rem auto;
  }
  a {
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .blog {
    padding: 0 10% 2.5rem 10%;
    display: flex;
    flex-direction: column;
  }
  .blog__hero {
    img {
      width: 100%;
      max-width: 900px;
    }
    width: 100%;
    min-height: 80vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog__info {
    width: 100%;
    max-width: 900px;
  }
  .blog__body {
    max-width: 900px;
    padding-bottom: 1.5rem;
    span {
      width: 100%;
      margin: 2rem auto;
    }
  }
}

@media(min-width: 1280px) {
  .blog__hero {
    min-height: 85vh;
  }
  .blog__body {
    margin: 2.5rem 0;
  }
}

@media (min-width: 1680px) {
  .blog {
    padding: 0 15% 4rem 15%;
    justify-content: center;
    align-items: center;
  }
  .blog__hero {
    img {
      max-width: 900px;
    }
  }
  .blog__body {
    margin: 3rem 0;
  }
} 