.blog {
  padding: 2.5rem 1.5rem;
  h1 {
    margin-bottom: .7rem;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

.blog__hero {
  width: 75%;
  margin: 1rem auto 2rem auto;
  img {
    margin-bottom: 0;
  }
}

.blog__info {
  width: 80%;
}

.blog__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  span{
    width: 75%;
    margin: 2rem auto;
  }
  a {
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 768px) {
  .blog {
    padding: 0 3rem 2.5rem 3rem;
    display: flex;
    flex-direction: column;
  }
  .blog__hero {
    img {
      width: 66%;
    }
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog__info {
    width: 100%;
    max-width: 900px;
  }
  .blog__body {
    max-width: 900px;
    padding-bottom: 1.5rem;
    span {
      width: 66%;
      margin: 3rem auto;
    }
  }
}

@media (min-width: 1680px) {
  .blog {
    justify-content: center;
    align-items: center;
  }
} 